#contact {
  color: white;
  
  a {
    width: 8rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

   svg {
    margin-right: 5px;
   }
  }
}

hr {
  border: 1px solid white;
  margin: 4rem auto;
  width: 85%;
}